.Resizer {
  z-index: 1;
}

.Resizer.horizontal,
.Resizer.vertical {
  flex-shrink: 0;
  position: relative;
}

.Resizer.horizontal {
  width: 100%;
  height: 1px;
  background: #4a4a4a;
  cursor: row-resize;
}

.Resizer.vertical {
  height: 100%;
  cursor: col-resize;
}

.Resizer.vertical::after,
.Resizer.horizontal::after {
  content: '';
  position: absolute;
}

.Resizer.vertical::after {
  height: 100%;
  left: -1px;
  width: 2px;
}

.Resizer.horizontal::after {
  height: 2px;
  width: 100%;
}
